.Card {
  display: flex;
  align-items: flex-end;
  padding: 0 0.5rem;
}

.Card-thumb {
  position: relative;
  width: 30px;
  height: 43px;
  background: #ddd no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.Card-count {
  margin: 0 0.5rem;
}

.Card-button {
  padding: 0.25rem 1rem;
}
