.Preview-pdf {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ddd;
}

.Preview-footer {
  margin: 0.5rem 0;
  text-align: center;
}

.Preview-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

@media (min-width: 600px) {
  .Preview {
    display: flex;
    flex-direction: column;
  }

  .Preview-pdf {
    flex: 1;
  }
}
