.AddCard {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.AddCard-file {
  display: none;
}
