body {
  margin: 0;
  font-family: sans-serif;
}

.svg-icon {
  vertical-align: text-top;
}

@media (min-width: 600px) {
  body {
    overflow: hidden;
  }

  .App {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
  }

  html,
  body,
  #__next,
  .App {
    height: 100%;
  }

  .App-contents {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .App-conditions {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .App-Preview {
    flex: 1;
  }
}
