.Card {
  display: flex;
  align-items: flex-end;
}

.Card-thumb {
  position: relative;
  width: 59px;
  height: 86px;
  background: #ddd no-repeat 0 0;
  background-size: contain;
}

.Card-count {
  width: 4em;
  font-size: 1em;
  text-align: right;
}
