<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <% for (const key in htmlWebpackPlugin.files.js) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.js[key] %>" as="script">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロキシカード印刷</title>
  <meta name="description" content="カードゲームのプロキシ(コピーカード)を簡単に印刷するWebアプリ" />
  <meta property="og:title" content="プロキシカード印刷" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="カードゲームのプロキシ(コピーカード)を簡単に印刷するWebアプリ" />
  <meta property="og:url" content="https://imasanari.github.io/proxy-card-print/" />
  <meta property="og:image" content="https://imasanari.github.io/proxy-card-print/<%= require('./assets/icon.png').default %>" />
  <meta name="twitter:card" content="summary" />
  <link rel="icon" href="<%= require('./assets/favicon.png').default %>">
  <link rel="apple-touch-icon" href="<%= require('./assets/icon.png').default %>">
</head>

<body>
  <div id="root"></div>
</body>

</html>